@import '../../styles/colors.scss', '../../styles/mixins.scss';

.projects {
    background-color: $grey;
    padding-bottom: 10px;
    color: $dark-blue;

    h2 {
        font-size: 18px;
        font-weight: 700;
        margin: 12px;
    }

    h4 {
        margin: 12px;
    }

    p {
        margin: 10px 20px;
    }

    .little-line {
        height: 1px;
        width: 60vw;
        background-color: $dark-blue;
        margin: 0 auto;
    }

    section {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0px;

        button {
            color: $dark-blue;
            width: 80px;
            height: 40px;
            border: none;
            background-color: $green;

            &:visited {
                color: $dark-blue;
            }

            &:active {
                color: $dark-blue;
            }

            &:hover {
                background-color: $pink;
            }
        }
    }
}

@media screen and (min-width: 550px) {
   .projects {
        section {
            max-width: 800px;
            margin: 20px auto;
        }
   }
}