@import '../../styles/colors.scss', '../../styles/mixins.scss';

.about {
    height: 500px;
    background-color: white;
    @include flex-box;
    flex-direction: column;
    justify-content: flex-start;

    img {
        width: 50vw;
        margin: 10px;
    }

    p {
        padding: 0 25px;
        line-height: 1.25;
        color: $dark-blue;
    }
}

@media screen and (min-width: 550px) {
    .about {
        
        img {
            width: 275px;
        }
        
        p {
            width: 50%;
        }
        
        section {
            max-width: 1000px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 40px;
        }
    }
  }