@import '../../styles/colors.scss', '../../styles/mixins.scss';

.contact {
    height: 350px;
    background-color: $grey;

    img {
        width: 100px;
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
        margin: 20px;
        color: $pink;
    }

    section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
    }

    a {
        color: $dark-blue;

        &:hover {
            color: $green;
        }
    }
}