@import '../../styles/colors.scss', '../../styles/mixins.scss';

nav {
    width: 300px;
    display: flex;
    justify-content: space-between;

    li {
        &:hover{
            color: $green;
            cursor: pointer;
        }

        &:active {
            color: $pink;
        }
    }
}